.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    background: #f4f4f4;
    max-width: 60%;
    width: 90%;
    max-height: 90%;
    overflow: auto;
    border-radius: 6px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 1.5rem;
  }
  
  .modal-close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .modal-content img {
    max-width: 100%;
    margin-top: 1rem;
    border-radius: 2px;
  }
  
  .modal-note-body {
    background: white;
    height: 50%;
    border-radius: 2px;
    position: relative;
    padding: 1.5rem;
  }

  .modal-note-body h1, h2, h3 {
    margin-top: 1rem;
  }
  .modal-note-body p {
    margin: 0.5rem 0;
  }
  .modal-note-body pre {
    background: #f5f5f5;
    padding: 0.5rem;
    overflow: auto;
    font-family: monospace;
  }

  .modal-note-body code {
    background: #eee;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
  }

  .modal-split {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  
  .modal-left {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    box-sizing: border-box;
  }

  .modal-right {
    padding: 1.5rem;
    padding-right: 1.5rem;
    width: 50%;
    box-sizing: border-box;
  }
  
  
  .modal-meta {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
  }
  
  .modal-meta div {
    margin-bottom: 0.5rem;
  }
  
